.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    padding: 8px 22px;

    @media screen and (min-width: 1200px) {
    padding: 8px 30px;
    }

    @media screen and (max-width: 439px) {
    font-size: 14px;
    }
}