.footer {
    background-color: var(--supporting-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
margin-left: auto;
margin-right: auto;
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    }

}

.footer-logo {
    color: var(--light-txt-cl);
    display: block;
    margin-bottom: 20px;
}

.socials {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-bottom: 0;
    }
    
}

.socials-subtitle {
    color: var(--light-txt-cl);
    margin-bottom: 20px;
}

.footer-link {
    background-color: rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-icon {
    fill: var(--light-txt-cl);
}